# aclocal -I m4
/aclocal.m4
/autom4te.cache/

# libtoolize
/ltmain.sh
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4

# autoconf
/configure

# autoheader
/config.h.in

# TEMP
/AUTHORS
/COPYING
/ChangeLog
/INSTALL
/NEWS

# automake --add-missing --force
/ar-lib
/compile
/config.guess
/config.sub
/depcomp
/install-sh
/missing

# automake
Makefile.in

# configure
.deps/
/*.tombstone
/config.h
/config.log
/config.status
/isp-utils-v4
/libtool
/stamp-h1
Makefile

# make
!/web-gui/list-timezones.cgi
*.a
*.la
*.lo
*.o
*.so
*.tmp
*.err
*.pdf
*.ldeps
*_selftest
*dump
.dirstamp
.libs/
/avi/isputils_avi_dv2avi_hax[0-9]
/avi/isputils_avi_dv2avi_hax[0-9][0-9]
/avi/isputils_avi_dv2avi_old
/avi/mkmulaw
/avi/mkriff[0-9]
/avi/riffdump_avi
/avi/riffdump_wav
/cnb/cnb_housekeeping
/comm/random
/dv-video/dv_video_dump_dif
/dvb-asi/c4_dvbasi_list
/dvb-asi/c4_dvbasi_recv
/dvb-asi/c4_dvbasi_send
/media-item-activation/c4mi_activation
/media-item-activation/c4mi_activation_cmd
/media-item-outputs/alsa/c4mi_out_alsa
/media-item-outputs/drmkms/c4mi_out_drmkms
/media-item-outputs/fbdev/c4mi_out_fbdev
/media-item-outputs/internet-mpeg/c4mi_out_internet_mpeg
/media-item-outputs/oss/c4mi_out_oss
/media-item-outputs/shoutcast/c4mi_out_shoutcast
/media-item-outputs/x11/c4mi_out_x11
/media-item-utils/asshole/holepunch2zero
/media-item-utils/asshole/truncate2zero
/media-item-utils/channel-control/c4mi_chctl
/media-item-utils/command/c4mi_command
/media-item-utils/grab/c4mi_grab
/media-item-utils/meta-control/c4mi_metactl
/media-item-utils/output-control/c4mi_outctl
/media-item-utils/report/c4mi_report
/media-item-utils/show-diag/c4mi_show[0-9]
/media-item-utils/startitem/c4mi_startitem
/media-items/mpeg-audio/c4mi_mpegaudio
/media-items/mpeg-pes/c4mi_mpeg_pes
/media-items/mpeg12-video/c4mi_mpeg12_video
/media-items/playlist/c4mi_playlist
/media-items/playlist_old/c4mi_playlist_old
/media-items/playlist_old/c4mi_playlist_old_20130616_2035
/media-items/quicktime/c4mi_quicktime
/media-items/riff-avi/c4mi_riff_avi
/media-items/riff-wav/c4mi_riff_wav
/media-items/scrolling-text/c4mi_scrolltext
/media-items/still-image/c4mi_stillimage
/media-items/video-passthru/c4mi_video_passthru
/metadata/castusmeta
/misc/bin2c
/mpeg12-pes/isputils_mpeg12_pes_test_stream
/mpeg12-pes/mpeg_dmux1
/mpeg12-pes/mpeg_dmux1_ac3
/mpeg12-pes/mpeg_dmux1_mp2
/mpeg12-pes/mpeg_pes_info
/mpeg12-pes/mpeg_pes_userpackets
/mpeg12-ts/mpeg_dmux1_ts_ac3
/mpeg12-ts/mpeg_dmux1_ts_m2v
/mpeg12-ts/mpeg_ts_info
/mpeg12-ts/mpeg_ts_pat
/mpeg12-ts/mpeg_ts_program_to_vob
/mpeg12-video/corrupt_copy
/mpeg12-video/mpeg_video_gopinfo
/pcm/counting_test
/process/pidof
/process/pidofsocket
/process/pidstatus
/process/pidstatusmonitor
/quicktime/aiff_dump[0-9]
/quicktime/qt_m4a_to_aac
/quicktime/qtcopy2avi
/quicktime/qtdump_mov
/quicktime/qtdump_stream
/quicktime/qtinfo
/render-manager/c4mi_rendermgr
/text/json_filter
/text/test1_mmap
/time/watch
/web-gui/*.cgi
/web-gui/jsmin
selftest
test[0-9]
